@use '@angular/material' as mat;

@import '../../theme.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: mat.get-theme-color($theme, neutral, 10);
  border-radius: 0px;
}

mat-sidenav-content {
  background-color: mat.get-theme-color($theme, neutral, 0);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item {
  display: flex;
}

.toolbar-2 {
  background-color: mat.get-theme-color($theme, primary, 10);
}
