@use '@angular/material' as mat;

@import "theme.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: mat.get-theme-color($theme, neutral, 0);
}