<h1 mat-dialog-title>{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
      @if (contactForm.get('first_name')?.invalid && contactForm.get('first_name')?.touched) {
      <mat-error>
        First name is required
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
      @if (contactForm.get('last_name')?.invalid && contactForm.get('last_name')?.touched) {
      <mat-error>
        Last name is required
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
      <mat-error>
        Enter a valid email
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
      @if (contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched) {
      <mat-error>
        Enter a valid 10-digit phone number
      </mat-error>
      }
    </mat-form-field>
  </form>
</div>
@if (errorMessage) {
<div class="error-message">
  {{ errorMessage }}
</div>
}
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="contactForm.invalid" (click)="onSubmit()">{{ isEditMode ? 'Save' : 'Add' }}</button>
</div>