// @use 'sass:map';
// @use '@angular/material' as mat;

// $color-config:    mat.get-color-config($theme);

.error-message {
    color: #F44336;
    // color: map.get($color-config, 'warn');
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}