<div class="grid-container">
  <div class="title-bar">
    <h1 class="mat-h1">Contact Manager</h1>
    <button mat-icon-button class="add-button" aria-label="Toggle menu" (click)="openDialog()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <mat-grid-list [cols]="cols" rowHeight="250px">
    @for (contact of contacts ; track contact.id) {
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{contact.first_name}}&nbsp;{{contact.last_name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openDialog(contact)">
                Edit
              </button>
              <button mat-menu-item (click)="deleteContact(contact)">
                Delete
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="dashboard-card-content">
          <div class="icon-text-container">
            <mat-icon class="material-symbols-outlined">phone_iphone</mat-icon>
            <span class="text">
              <span class="mat-primary">Phone:</span> {{contact.phone | phone}}
            </span>
          </div>
          <div class="icon-text-container">
            <mat-icon class="material-symbols-outlined">mail</mat-icon>
            <span class="text">Email: {{contact.email}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>