<div class="container">

  <h1 class="mat-h1">Home</h1>
  <p>This is where I test random shit!</p>
  <mat-slide-toggle>Switch Theme>Toggle me!</mat-slide-toggle><br />
  <button mat-button>Test button</button><br />
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example send icon" fontIcon="send"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example send icon" fontIcon="mobile_screen_share"></mat-icon>
  <mat-icon class="material-symbols-outlined">delete</mat-icon>

  <mat-card><h2 class="mat-h2 container">Test card</h2></mat-card>

</div>